# Ignore compiled folders
node_modules/
target/

# Ignore server-side files
**/*.java
**/*.jsp
**/*.jspf

# Ignore backend resources
src/main/resources/

# Optional: ignore minified or vendor JS
**/*.min.js
vendor/
