@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Variables */
:root {
	--bg-primary-dark: #0A0A0A;
	--bg-primary-light: #F3F4F6;
	--bg-primary-color: #F3F4F6;
	
	--bg-secondary-dark: #0F0F10;
	--bg-secondary-light: #fff;
	--bg-secondary-color: #fff;
	
	--bg-tertiary-dark: #1F1F23;
	--bg-tertiary-light: #ECECEE;
	--bg-tertiary-color: #ECECEE;
	
	--placeholder-dark: rgba(222, 226, 230, 0.75);
	--placeholder-light: rgba(33, 37, 41, 0.75);
	--placeholder-color: rgba(33, 37, 41, 0.75);
}

/* Theming */
[data-bs-theme="dark"] {
	--bg-primary-color: var(--bg-primary-dark);
	--bg-secondary-color: var(--bg-secondary-dark);
	--bg-tertiary-color: var(--bg-tertiary-dark);
	--placeholder-color: var(--placeholder-dark);
	--bs-border-color: #2E2E31;
	--bs-body-bg: var(--bg-secondary-dark);
}

[data-bs-theme="light"] {
	--bg-primary-color: var(--bg-primary-light);
	--bg-secondary-color: var(--bg-secondary-light);
	--bg-tertiary-color: var(--bg-tertiary-light);
	--placeholder-color: var(--placeholder-light);
	--bs-border-color: #cbd0dd;
}

.bg-body {
	background-color: var(--bg-primary-color) !important;
}

.bg-body-secondary {
	background-color: var(--bg-secondary-color) !important;
}

.bg-body-tertiary {
	background-color: var(--bg-tertiary-color) !important;
}

/* Layout Styles */
html, body {
	height: 100%;
	overflow-y: auto;
	font-family: 'Poppins', sans-serif;
	background-color: var(--bg-primary-color);
}

header.position-fixed {
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	z-index: 1030;
}

aside.position-fixed {
	top: 60px;
	left: 0;
	width: 235px;
	height: calc(100vh - 60px);
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 1025;
}

aside.position-fixed.collapsed {
	width: 80px;
}

aside.position-fixed.collapsed .sidebar-link {
	display: none;
}

aside.position-fixed.collapsed ul.nav li {
	width: 100%;
	box-sizing: border-box;
}

main {
	position: absolute;
	top: 60px;
	left: 235px;
	right: 0;
	height: auto;
	min-height: calc(100vh - 60px);
	padding: 20px;
	overflow: hidden;
}

main.collapsed {
	left: 80px;
}

aside.position-fixed, main {
	transition: width 0.3s ease, left 0.3s ease;
}

#offcanvasSidebar {
	width: 235px;
	z-index: 1029;
}

.offcanvas-backdrop {
	z-index: 1028;
}

/* Logo and Text */
.text-logo {
	font-weight: 600;
}

.logo {
	width: 25px;
}

[data-bs-theme="light"] .logo {
	filter: brightness(0) invert(0);
}

/* Cards and Tables */
[data-bs-theme="dark"] .card {
	--bs-card-bg: var(--bg-secondary-dark) !important;
}

[data-bs-theme="dark"] .table {
	--bs-table-bg: var(--bg-secondary-dark) !important;
}

.disabled>.page-link, .page-link.disabled {
	background-color: var(--bg-tertiary-color) !important;
}

/* Selects and Modals */
.dropdown-menu {
	--bs-dropdown-link-hover-bg: var(--bg-tertiary-color) !important;
}

.dropdown-divider {
	border-top: 1px solid var(--bs-border-color);
}

.vr {
	background-color: var(--bs-border-color);
	opacity: 1;
}

/* Navbar and Card */
.bd-navbar .dropdown-menu {
	--bs-dropdown-link-hover-bg: var(--bg-tertiary-color) !important;
	--bs-dropdown-link-active-bg: var(--bg-tertiary-color) !important;
}

.hovered {
	--bs-tertiary-bg: var(--bg-tertiary-color) !important;
}

.card-header {
	--bs-card-cap-bg: var(--bg-secondary-color) !important;
}

.bootstrap-select .dropdown-toggle {
	color: var(--bs-body-color) !important;
	background-color: var(--bs-body-bg) !important;
	border: var(--bs-border-width) solid var(--bs-border-color) !important;
	border-radius: var(--bs-border-radius) !important;
	padding-right: 1em;
}

body[data-bs-theme="dark"] .bootstrap-select .dropdown-toggle {
	color: var(--bs-body-color-dark) !important;
	background-color: var(--bs-body-bg-dark) !important;
	border: var(--bs-border-width) solid var(--bs-border-color-dark) !important;
}

.bootstrap-select .dropdown-toggle:focus {
	outline: 0 !important;
	color: var(--bs-body-color);
	background-color: var(--bs-body-bg);
	border-color: var(--bs-border-color);
	outline: 0;
	box-shadow: 0 0 0 1px var(--bs-border-color);
}

.bootstrap-select .dropdown-toggle:hover {
	background-color: var(--bs-body-bg-hover) !important;
	color: var(--bs-body-color-hover) !important;
}

.dropdown-item.active, .dropdown-item:active {
	background-color: var(--bs-dropdown-link-hover-bg) !important;
}

body[data-bs-theme="dark"] .bootstrap-select .dropdown-toggle:hover {
	background-color: var(--bs-body-bg-dark-hover) !important;
	color: var(--bs-body-color-dark-hover) !important;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
	outline: none !important;
}

.bootstrap-select .no-results {
	background: var(--bs-body-bg) !important;
}

/* Utilities */
.hr-header {
	margin: 0 15px;
}

.cursor-pointer {
	cursor: pointer;
}

.section-main {
	height: calc(100vh - 0px);
}

.dropdown-toggle {
	outline: 0;
}

/* Media Queries */
@media ( min-width : 768px) {
	.card-header {
		display: flex;
		justify-content: space-between;
		position: relative;
	}
	.card-header .excel {
		margin-left: auto;
	}
}

@media ( max-width : 767.98px) {
	.card-header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.card-header h5 {
		flex-basis: 100%;
	}
	.card-header button {
		margin-top: 5px;
		margin-bottom: 5px;
		margin-left: 0;
	}
	.modal-dialog {
		display: flex;
		align-items: center;
		min-height: calc(100% - var(--bs-modal-margin)* 2);
	}
}

@media ( max-width : 991.98px) {
	aside.position-fixed {
		display: none !important;
	}
	main {
		left: 0 !important;
	}
	.penultimate-chart {
		margin-bottom: 1rem !important;
	}
}

@media ( min-width : 768px) and (max-width: 992px) {
	.modal-dialog.modal-lg {
		max-width: 720px;
	}
}

/* Icons */
.bi {
	fill: currentColor;
}

.bd-mode-toggle {
	z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
	display: block !important;
}

.header-icon {
	font-size: 24px;
}

.header-separator {
	height: 30px;
}

/* Pencil Icon */
.pencil-icon {
	width: 40px;
	height: 40px;
	font-size: 20px;
	bottom: 25px;
	right: 5px;
	background-color: var(--bs-tertiary-bg) !important;
	cursor: pointer;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 10 !important;
}

.bi-person-circle {
	position: relative;
	z-index: 1 !important;
}

.btn-menu:active {
	border-color: transparent;
}

[data-bs-theme="light"] .active>.page-link, .page-link.active {
	background-color: var(--bg-secondary-dark) !important;
	border-color: var(--bg-secondary-dark) !important;
	color: var(--bg-secondary-light) !important;
}

[data-bs-theme="dark"] .active>.page-link, .page-link.active {
	background-color: var(--bg-secondary-light) !important;
	border-color: var(--bg-secondary-light) !important;
	color: var(--bg-secondary-dark) !important;
}

.page-link {
	color: var(--bs-emphasis-color) !important;
}

.page-link:focus, .nav-link:focus-visible {
	box-shadow: none;
}

.dataTables_paginate {
	transition: none !important;
}

/* Primary Button Styles */
[data-bs-theme="light"] .btn-custom-primary {
	background-color: var(--bg-primary-dark) !important;
	color: #fff !important;
	border-color: var(--bg-primary-dark) !important;
}

[data-bs-theme="light"] .btn-custom-primary:hover, [data-bs-theme="light"] .btn-custom-primary:active
	{
	background-color: #2E2E2E !important;
	color: #fff !important;
	border-color: #2E2E2E !important;
}

[data-bs-theme="dark"] .btn-custom-primary {
	background-color: var(--bg-primary-light) !important;
	color: #000 !important;
	border-color: var(--bg-primary-light) !important;
}

[data-bs-theme="dark"] .btn-custom-primary:hover, [data-bs-theme="dark"] .btn-custom-primary:active
	{
	background-color: #E5E5E5 !important;
	color: #000 !important;
	border-color: #E5E5E5 !important;
}

/* Secondary Button Styles */
.btn-custom-secondary {
	background-color: var(--bg-secondary-color) !important;
	color: var(--bs-emphasis-color) !important;
	border-color: var(--bs-border-color) !important;
}

.btn-custom-secondary:hover, .btn-custom-secondary:active {
	background-color: var(--bg-tertiary-color) !important;
	color: var(--bs-emphasis-color) !important;
	border-color: var(--bs-border-color) !important;
}

/* Dropdown danger */
.dropdown-danger.active, .dropdown-danger:active {
	background-color: #dc3545 !important;
	color: var(--bs-dropdown-link-active-color) !important;
}

/* Card Header */
.card-header {
	border-bottom: var(--bs-border-width) var(--bs-border-style)
		var(--bs-border-color) !important;
}

/* Hover Effects */
.hovered:hover {
	background-color: var(--bs-tertiary-bg) !important;
}

[data-bs-theme="light"] aside .nav-link.active-effect {
	background-color: var(--bg-primary-dark) !important;
	color: #fff !important;
}

[data-bs-theme="dark"] aside .nav-link.active-effect {
	background-color: var(--bg-primary-light) !important;
	color: #000 !important;
}

/* Dropdown Items */
.dropdown-item.active, .dropdown-item:active {
	color: var(--bs-dropdown-link-color);
}

/* Border Inputs */
.form-control {
	box-sizing: border-box !important;
	border: 1px solid var(--bs-border-color);
	transition: box-shadow 0.2s ease, border-color 0.2s ease;
}

.form-control:focus, .form-select:focus {
	color: var(--bs-body-color);
	background-color: var(--bs-body-bg);
	border-color: var(--bs-border-color);
	outline: 0;
	box-shadow: 0 0 0 1px var(--bs-border-color);
}

[data-bs-theme="light"] .form-control:disabled {
	background-color: var(--bg-tertiary-light);
	opacity: 1;
}

[data-bs-theme="dark"] .form-control:disabled {
	background-color: var(--bg-tertiary-dark);
	opacity: 1;
}

/* Button Icon Hover */
.btn-icon-hover:hover {
	background-color: var(--bg-tertiary-color) !important;
}

[data-bs-theme="dark"] .btn-icon-hover {
	color: #fff !important;
}

.btn-icon-hover:active {
	border-color: transparent !important;
}

/* Image Crop */
#imageToCropAdd, #imageToCropEdit, #cropperImage {
	display: block;
	max-width: 100%;
	max-height: 300px;
	object-fit: cover;
	margin-top: 10px;
}

/* Toast */
.toast-container {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1060;
}

.toast:not(:last-child) {
	margin-bottom: 10px;
}

@keyframes slideDown {
	from {
	  opacity: 0;
	  transform: translateY(-20px);
	}
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
}

@keyframes slideUp {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(20px);
	}
}

.toast {
	animation: slideDown 0.3s ease-out;
}

.toast.hide {
	animation: slideUp 0.3s ease-in;
}

/* Selectpicker validation */
[data-bs-theme="dark"] .bootstrap-select.is-invalid .dropdown-toggle {
	border-color: #ea868f !important;
	padding-right: 0.8em !important;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right calc(1.5em + .75rem) center;
	background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

[data-bs-theme="light"] .bootstrap-select.is-invalid .dropdown-toggle {
	border-color: #dc3545 !important;
	padding-right: 0.8em !important;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right calc(1.5em + .75rem) center;
	background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.bootstrap-select.is-invalid .dropdown-toggle:focus {
	box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25) !important;
}

.bootstrap-select.is-valid .dropdown-toggle:focus {
	box-shadow: 0 0 0 .25rem rgba(25, 135, 84, .25);
}

.bootstrap-select .dropdown-toggle:hover {
	background-color: var(--bs-body-bg) !important;
}

.invalid-feedback {
	font-size: 0.75rem;
}

/* Custom Selectpicker Placeholder Color */
.placeholder-color .filter-option-inner-inner {
	color: var(--placeholder-color) !important;
}

/* Custom Input Date Placeholder Color */
input[type="date"]:not(:valid) {
	color: var(--placeholder-color);
}
/* Box shadow none */
.btn-close:focus {
	box-shadow: none !important;
}

.nav-link:focus-visible {
	box-shadow: none !important;
}

.btn:focus-visible {
	box-shadow: none !important;
}

/* Badge font weight */
.badge {
	--bs-badge-font-weight: 590 !important;
}

/* Textarea styling */
textarea {
	field-sizing: content;
	resize: none;
}

/* Password border styling */
.input-group>.input-group-text {
	border-top-right-radius: 0.375rem !important;
	border-bottom-right-radius: 0.375rem !important;
	border-right: 1px solid var(--bs-border-color) !important;
	border-top: 1px solid var(--bs-border-color) !important;
	border-bottom: 1px solid var(--bs-border-color) !important;
}

/* Card borders */
.border-start-primary {
	border-left: 4px solid var(--bs-primary) !important;
}

.border-start-success {
	border-left: 4px solid var(--bs-success) !important;
}

.border-start-warning {
	border-left: 4px solid var(--bs-warning) !important;
}

.border-start-danger {
	border-left: 4px solid var(--bs-danger) !important;
}

.border-start-info {
	border-left: 4px solid var(--bs-info) !important;
}

.border-start-secondary {
	border-left: 4px solid var(--bs-secondary) !important;
}

/* Toast light color */
[data-bs-theme="light"] .bg-success-subtle {
	background-color: #b8dfc9 !important;
}

[data-bs-theme="light"] .bg-danger-subtle {
	background-color: #f4c2c6 !important;
}